logs/
farmlist/
prod/
usercontracts/
__pycache__/
*.log
*_at.bat
executor_*.bat
data_*.txt
init.bat
*test*
raskat.txt
info.txt
build_dorf*.txt
*elephants.txt
release_info*
*Old*
gitops.py
userinfo.yaml